{% extends 'store/main.html' %}

{% load static %}

{% block content %}

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row" style="margin-top: 8rem;">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Shopping Cart</h4>
                        <div class="breadcrumb__links">
                            <a href="./index.html">Home</a>
                            <a href="./shop.html">Shop</a>
                            <span>Shopping Cart</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Shopping Cart Section Begin -->
    <section class="shopping-cart spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    {% if items %}
                        <div class="shopping__cart__table">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Product</th>
                                        <th>Quantity</th>
                                        <th>Size</th>
                                        <th>Total</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in items %}
                                
                                        <tr id = {{item.product.id}}row>
                                        
                                            <td class="product__cart__item">
                                                <div class="product__cart__item__pic">
                                                    <img src="{{item.product.imageURL}}" alt="">
                                                </div>
                                                <div class="product__cart__item__text">
                                                    <h6>{{item.product.name}}</h6>
                                                    <h5>&#8377; {{item.updated_price_by_size}}</h5>
                                                </div>
                                            </td>
                                            <td class="quantity__item">
                                                <div class="quantity">
                                                    <div class="pro-qty-2" >
                                                        {% csrf_token %}
                                                        <span class="fa fa-angle-left qtybutton update-cart" id="dec-button"  data-product = {{item.product.id}} data-action="remove" data-size_variant="{{item.size_variant.size_name}}"></span>
                                                        <input type="text" id="{{item.product.id}}qty{{item.size_variant.size_name}}" value="{{item.quantity}}">
                                                        <span class="fa fa-angle-right inc qtybutton update-cart" data-product = {{item.product.id}} data-action="add" data-size_variant="{{item.size_variant.size_name}}"></span>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="cart__sizevariant " >{{item.size_variant}}</td>
                                            <td class="cart__price " id="{{item.product.id}}total{{item.size_variant.size_name}}" >&#8377; {{item.get_total|floatformat:2}}</td>
                                            <td class="cart__close "><i data-product = {{item.product.id}} data-action="delete" class="fa fa-close update-cart" data-size_variant="{{item.size_variant.size_name}}"></i></td>
                                        </tr>
                                
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% else %}
                        <div class="row">
                            
                            <div class="col-lg-4 mx-auto">
                                <img src="{% static 'images/shopping-cart.png' %}" alt="">
                            </div>
                            <div class="col-lg-12 mt-4 text-center">
                                <h6><strong>Your cart is empty!</strong></h6>
                                <p>Explore our wide selection and find something you like</p>
                            </div>
                        </div>
                    
                    {% endif %}

                    <div class="row mt-5">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="continue__btn">
                                <a href="#">Continue Shopping</a>
                            </div>
                        </div>
                      
                    </div>
                </div>
                {% if order.get_cart_items%}
                    <div class="col-lg-4">
                        <div class="cart__total">
                            <h6>Cart total</h6>
                            <ul>
                                <li>Items <span class="cartqty">{{order.get_cart_items}}</span></li>
                                <li>Total <span class="cartotal">&#8377; {{order.get_cart_total|floatformat:2}}</span></li>
                            </ul>
                            <a href="{% url 'checkout' %}" class="primary-btn">Proceed to checkout</a>
                        </div>
                    </div>
                {% else %}

                    <div class="col-lg-4">
                    
                    </div>
                        
                {% endif %}

               
            </div>
        </div>
    </section>
    <!-- Shopping Cart Section End -->

   
    {% endblock content %}