{% extends 'store/main.html' %}

{% load static %}

{% block content %}

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row" style="margin-top: 8rem;">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Wishlist</h4>
                        <div class="breadcrumb__links">
                            <a href="./index.html">Home</a>
                            <span>Wishlist</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <div class="container">
        <div class="row p-4">
            <div class="col-md-10 mx-auto">
                <div class="card shadow">
                    <div class="card-body">
                        <h5 class="fw-bold">Your Wishlist (<span id="your_wishlist">{{wishlistcount}}</span>)</h5>
                    </div>
                </div>
                <br>
                    {% if wishlist %}
                        {% for item in wishlist %}
                        <div class="card shadow" id="{{item.product.id}}card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-2 my-auto">
                                        <img class="order_images" src="{{ item.product.imageURL}}" alt="Image here" height="70px" width="70px">
                                    </div>
                                    <div class="col-md-3 my-auto">
                                        <h6>{{item.product.name}}</h6>
                                    
                                    </div>
        
                                    <div class="col-md-2 my-auto">
                                        <h6>&#8377; {{item.product.price}}</h6>
                                    </div>
                                    <div class="col-md-3 my-auto">
                                        <a href="{% url 'shop-details' item.product.id %}" class="btn btn-success btn-sm"> <i class="fa fa-eye"></i> View Product</a>
                                    </div>
                                    <div class="col-md-2 my-auto">
                                        {% csrf_token %}
                                        <a class="btn btn-danger btn-sm delete-wishlist-item" data-product = {{item.product.id}}> <i class="fa fa-trash"></i> Delete</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <br>

                        {% endfor %}
                    {% else %}
                        <h4>Your wishlist is empty</h4>
                    {% endif %}
                    
                   
                
              
            </div>
        </div>
    </div>
    <script>
       
        var delete_wishlist_btns = document.getElementsByClassName("delete-wishlist-item")
        console.log(delete_wishlist_btns.length)
        for(var i =0; i < delete_wishlist_btns.length; i++ ){
            
            delete_wishlist_btns[i].addEventListener('click', function(){

                var productId = this.dataset.product
    
                var csrftoken =  $('input[name=csrfmiddlewaretoken]').val();
    
                $.ajax({
                    method: "POST",
                    url: "/delete_from_wishlist/",
                    data: {
                        'productId':productId,
                        csrfmiddlewaretoken : csrftoken
                    },
                    
                    success: function (response) {
                        alertify.success(response.status);
                        document.getElementById(productId+'card').innerHTML = ''
                        document.getElementById("wishlistcount").innerHTML = response.wishlistcount
                        document.getElementById("your_wishlist").innerHTML = response.wishlistcount
                    }
                });
               
                
            })
        }
        //deleteWishlist = document.getElementById('delete-wishlist-item')

        
    </script>

   
    {% endblock content %}