{% extends 'customadmin/adminbase.html' %}

{% load static %}

{% block content%}



<div class="container-fluid px-4">
  <div class="row my-5">
    <div>
      <h3 class="fs-4 mb-3">Size Management</h3>
    </div>
    <div>
      <a class="btn btn-sm btn-outline-success float-end mb-3 " href="addsize">Add size</a>
    </div>
    <div class="col">
      <table id="sizetable" class="table bg-white rounded shadow-sm  table-hover" style="width:100%">
        <thead>
          <tr>
            <th>Size</th>
            <th>Price</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        
      
        <tbody>
          {% for size in size %}

        <tr>
          
          <td>{{size.size_name}}</td>
          <td>{{size.price}}</td>
          <td><a class="btn btn-sm btn-primary" href="editsize/{{size.id}}">Edit</a></td>
          <td><a class="btn btn-sm btn-danger" href="deletesize/{{size.id}}">Delete</a></td>
          
          
        </tr>
        {%endfor%}
        </tbody>
        
        
      </table>
    </div>
  </div>
</div>

{% endblock content%}
